# REACT_APP_APPWRITE_URL="test environment"

# when creating with create react app use REACT_APP before the variable in .evn file. to access use process.env.(variable name)
# when creating with vite use VITE_ before the variable. to access use import.meta.VITE_(variable name)

VITE_APPWRITE_URL="testing environment"
VITE_APPWRITE_PROJECT_ID=""
VITE_APPWRITE_DATABASE_ID=""
VITE_APPWRITE_COLLECTION_ID=""
VITE_APPWRITE_BUCKET_ID=""
